include Cargo.toml
include Cargo.lock
recursive-include src *
recursive-include tests *
recursive-include docs *
include mypy.ini
include changelog.md
include README.md
include requirements-dev.txt
global-exclude *.py[cod]
prune docs/_build/*
