name: wheel-build
on: workflow_dispatch

jobs:
    build:
        name: Build Wheel on Windows
        runs-on: windows-latest
        strategy:
            matrix:
                python-version: ["3.10","3.11","3.12", "3.13"]
                platform: [{ os: "windows-latest", python-architecture: "x64", rust-target: "x86_64-pc-windows-msvc" }]
        steps:
            - uses: actions/checkout@v4

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v4
              with:
                python-version: ${{ matrix.python-version }}
                architecture: ${{ matrix.platform.python-architecture }}

            - name: Install Rust toolchain
              uses: dtolnay/rust-toolchain@stable
              with:
                targets: ${{ matrix.platform.rust-target }}

            - name: Install build dependencies
              shell: bash
              env:
                PYTHON: ${{ matrix.python-version }}
              run: |
                python -m pip install -U pip setuptools
                python -m pip install -r requirements-dev.txt

            - name: Build wheel
              shell: bash
              env:
                PYTHON: ${{ matrix.python-version }}
              run: python setup.py bdist_wheel

            - name: Upload Wheels
              uses: actions/upload-artifact@v3
              with:
                name: wheels
                path: dist




